<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASL Prediction</title>
    <link rel="stylesheet" href="/static/css/cainaylacss.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
    <div class="thanhmenu">
        <div class="row" style="align-items: center;">
            <div class="col-sm-12" style="justify-content: center;display: flex;">
                <img src="/static/images/HBlogo.png" class="logoHB">
            </div>
        </div>
    </div>
    <div>
        <div class="row" style="align-items: center;padding-top: 40px">
            <div class="col-sm-12" style="justify-content: center;display: flex;">
                <h1>Dự đoán kí hiệu ASL</h1>
            </div>
        </div>
        <div class="row" style="align-items: center;padding-top: 40px">
            <div class="col-sm-6" style="justify-content: left;display: flex;">
                <img src="/static/images/aslalphabet.png" class="aslalphabet">
            </div>
            <div class="col-sm-6" style="display: flex;">
                <img src="{{ url_for('video_feed') }}" class="video-feed">
            </div>
        </div>
    </div>
</body>
</html>
